body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 0;
}

.footer {
    background-color: #070034;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 0 auto; 
    border-radius: 15px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    flex: 1;
    margin: 15px; /* reduced margin */
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(152, 147, 147, 0.5);
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 5px;
}

.footer-col li a {
    color: #fff;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 15px; /* reduced margin */
}

.social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
}

.social-links span {
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
}

.logo {
    font-weight: bold;
    font-size: large;
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: white;
    color: #070034;
    margin-top: 20px;
    }
    .logo-5Hv {
        background-color: white;
        margin-right: 1.6rem;
        object-fit: contain;
        flex-shrink: 0;
        display: block;
        margin: 0 auto;
        width: 350px;
        height: 65px;
    }


.fab {
    font-size: 24px;
}

.fab.fa-facebook-f {
    color: #1877F2;
}

.fab.fa-instagram {
    color: #E1306C;
}

.fab.fa-linkedin-in {
    color: #0077B5;
}

.fab.fa-youtube {
    color: #FF0000;
}